section{
    display: grid;
    display: flex;
    justify-content: center;
    text-align: center;
    text-indent: 6%;
    background-color: #87CEEB;
    width: 50%;
    height: 550px;
    border-radius: 30px;
    margin-left: 30%;
    margin-top: 7%;
    border: 1px solid black;
}
.content{
    display: flex;
    justify-content: center;
    text-align: center;
}
section form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
form label{
    font-size: 20px;
    margin-bottom: 12px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;

}
form input:focus{
    border-radius: 16px;
}
 form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
 }
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #191970;
    color: #191970;
    transition: all 1s;
    margin-bottom: 20px;
}
form button:hover{
    background: #191970;
    color: #87CEEB;
    border-radius: 16px;
}