/*Estilo conteudo */ 

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; /* Espaço entre a logo/nav e o título */
}
section {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

p {
    text-indent: 1.5em;
    margin-top: 0 
}

