/* Estilos da seção "Sobre" Pagina do Index.html #id  .class */
#sobre {
    margin-top: 1px;
    margin-left: 5px;
    margin-right: 80px; /* margem separando sobre de serviço*/
    padding: 2%;
    text-indent: 3%;
    background-color: #87CEEB;
    width: 40%;
    height: 600px; 
    float: left;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 20px;
    text-align: justify;
}

.paragrafo {
    text-align: center;
    padding-top: 5px 5px;
}

.sobre-images img {
    width: 50px;
    height: 50px;
    margin: 50px;
}

.sobre-images {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Estilos da seção "Serviço" Pagina do Index.html */

.iservico {
    background-color: #87CEEB;
    margin-top: 50px;
    margin-left: 10px;
    width: 400px;
    height: 400px;
    padding: 2%;
    float: left;
    text-align: center;
    list-style-type: none;
    border-radius: 100%;
    border: 1px solid black;
    font-size: 20px;
}

/* Estilos da seção "Cadastro" */
#cadastro {
    background-color: #87CEEB;
    margin-top: 20px;
    padding: 2%;
    margin-left: 5px;
    width: 30%;
    height: 400px;
    float: left;
    text-align: center;
    list-style-type: none;
    border-radius: 10%;
    border: 1px solid black;
    font-size: 20px;
}

/* Estilos da seção "Serviço" */
#contato {
    background-color: #87CEEB;
    margin-top: 2px;
    margin-left: 15px;
    width: 30%; /* lagura  da box */
    height: 400px; /* tamanho da box */
    float: left;
    text-align: center;
    list-style-type: none;
    border-radius: 5%; /* deixa esfera */
    border: 1px solid black;
    font-size: 20px;
}

.section {
    background-color: #87CEEB;
    margin: 50px;
    width: 400px;
    padding: 2%;
    list-style-type: none;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section h2 {
    white-space: nowrap;
}

