/* Reset de estilos para o body e a lista de navegação */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;

}

.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0, .15, green, blue, alpha);
    background: #ffff;
}

.container .card:hover {
    height: 400px;
}

.container .card .caixaImg {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
    transition: .5s;
    
}
.container .card .caixaImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .conteudo {
    position: absolute;
    top: 250px;
    width: 100%;
    height: 37px;
    padding: 0 30px;
    overflow: hidden; 
    text-align: center;
    transition: .5s;
    
}

.container .card:hover .conteudo{
    top: 150px;
    height: 250px;
}

.container .card:hover .caixaImg {
    top: -100px;
    scale: .75;
    box-shadow: 0 15px 45px rgba(0,0,0,.2);
}

.container .card .conteudo h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 3rem;
    color: var(--cor);
}

.container .card .conteudo p{
    color: #333;
}

.container .card .conteudo a{
    display:inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 8px;
    background: var(--cor);
    color: #ffff;
    transition: .5s;
}

.container .card .conteudo a:hover{
    background: #040305;
    transition: .5s;
}    