/* Reset de estilos para o body e a lista de navegação */
body, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho */
.header {
    background-color: #191970; /* Cor de fundo azul */
    padding: 5px;
    margin-top: 0px;
    text-align: center;
    border-radius: 10px; /* Arredonda os cantos do cabeçalho */
    box-shadow: 5px 5px 3px;
}

.header-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; /* Espaço entre a logo/nav e o título */
}

.logo {
    width: 150px; /* Tamanho pequeno para o logo */
    height: 150px;
    border-radius:25px;
    margin-top: 25px;
    margin-left: 20px; 
}

.header-title {
    color: rgb(251, 249, 249); /* Cor do texto do título */
    font-size: 50px;
    margin-right: 450px;
    text-align: center; /* Centraliza o texto horizontalmente */
}

/* Estilos para a navegação principal */
.nav-list {
    list-style-type: none;
    margin-top: 10px; /* Espaço entre o título e a lista de navegação */
    display: flex; /* Exibe os itens em uma linha */
    margin-left: 800px;
}

.nav-list li {
    margin-right: 10px;
}

.nav-list a {
    text-decoration: none;
    color: white; /* Cor do texto dos links */
    font-weight: bold;
    margin-left: 20px;
}

.nav-list a:hover {
    text-decoration: underline; /* Sublinhar ao passar o mouse */
    color: #06eb56;
}

/* Alinhamento sobre aumenta o tamanho box e centraliza */
#sobre {
    background-color: #87CEEB;
    border-radius: 30px;
    text-align: center;
    box-shadow: 5px 5px 3px;
    float: left;
    width: 40.33%;
    padding: 30px;
    margin-top: 15px;
}

.section {
    background-color: #87CEEB;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    display: inline;
}

.section h2 {
    margin: 0;
}

.sobre-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-text {
    text-align: justify;
    margin-bottom: 20px;
}

.sobre-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-images img {
    width: 50px;
    height: 50px;
    margin:  5px;
}

.sobre-paragraph {
    text-align: center;
    margin-top: 20px;
}

/* Estilos da seção "Serviço" */
#servico {
    background-color: #87CEEB;
    border-radius: 30px;
    text-align: center;
    box-shadow: 5px 5px 3px;
    float: right;
    width: 40.33%;
    margin-right: 120px;
    margin-top: 15px;
}

/* Remova a margem superior do cabeçalho do "Serviço" */
#servico h2 {
    margin-top: 0;
}

/* Estilos da seção "Cadastro" */
#cadastro {
    background-color: #87CEEB;
    border-radius: 30px;
    text-align: center;
    box-shadow: 5px 5px 3px;
    float: right;
    width: 40.33%;
    margin-right: 160px;
    margin-top: 15px;
}

/* Remova a margem superior do cabeçalho do "Serviço" */
#cadastro h2 {
    margin-top: 0;
}

/* Estilos da seção "Serviço" */
#contato {
    background-color: #87CEEB;    
    border-radius: 30px;
    text-align: center;
    box-shadow: 5px 5px 3px;
    float: right;
    width: 40.33%;
    margin-right: 150px;
    margin-top: 15px;
}

/* Remova a margem superior do cabeçalho do "Serviço" */
#servico h2 {
    margin-top: 0;
}

/* Estilos para o rodapé */
footer {
    display: flex;
    justify-content: space-between;
    margin-top: 785px;
    padding: 50px;
    background-color: #4682B4;
    border-radius: 30px;
    align-items: flex-start; /* Alinha os conteúdos ao topo verticalmente */
    height: 350px;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha à esquerda dentro da coluna esquerda */
}

.right-column {
    text-align: right; /* Alinha o conteúdo à direita */
}

/* Estilos para a lista não ordenada */
ul {
    list-style: none;
    padding: 0;
}

/* Estilos para os links nas redes sociais */
ul li a {
    text-decoration: none;
    color: #fff; /* Cor do texto branco */
    margin-right: 10px;
    margin-left: 600px;
}

ul li a img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

footer img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 25px;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .contato {
    text-align: left;
    margin-left: 100px; /* Ajuste a margem conforme necessário */
}

footer .social-media {
    text-align: right;
    margin-right: 100px; /* Ajuste a margem conforme necessário */
}


.servico{
    margin: 5px;
    border: 5px solid #ccc;
    float: left;
    width: 200px;
    height: 150px;
    border-radius: 30px;
    text-align: center;

}