/* Reset de estilos para o body e a lista de navegação */
body, ul {
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
.header {
    background-color: #0074cc; /* Cor de fundo azul */
    padding: 5px;
    margin-top: 0px;
    text-align: center;
    border-radius: 10px; /* Arredonda os cantos do cabeçalho */
    box-shadow: 5px 5px 3px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaço entre a logo/nav e o título */
}

.logo {
    width: 50px; /* Tamanho pequeno para o logo */
    height: 50px;
    border-radius: 50px;
}

.header-title {
    color: white; /* Cor do texto do título */
    font-size: 24px;
    margin-right: 800px;
    text-align: center; /* Centraliza o texto horizontalmente */
}

/* Estilos para a navegação principal */
.nav-list {
    list-style-type: none;
    margin-top: 0px; /* Espaço entre o título e a lista de navegação */
    display: flex; /* Exibe os itens em uma linha */
    margin-left: 800px;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: white; /* Cor do texto dos links */
    font-weight: bold;
    margin-left: 20px;
}

.nav-list a:hover {
    text-decoration: underline; /* Sublinhar ao passar o mouse */
}




#sobre {
    width: 450px;
    background-color: #007bff;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
    margin: 0px; /* Centraliza horizontalmente */
    margin-top: 10px;
    box-shadow: 5px 5px 3px;
}

.section {
    background-color: #007bff;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 450px;
    display: inline;
}

.section h2 {
    margin: 0;
}

.sobre-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-text {
    text-align: justify;
    margin-bottom: 20px;
}

.sobre-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-images img {
    width: 50px;
    height: 50px;
    margin:  5px;
}

.sobre-paragraph {
    text-align: center;
    margin-top: 20px;
}

/* Estilos da seção "Serviço" */
#servico {
    background-color: #007bff;    
    padding: 0px;
    border-radius: 40px;
    text-align: center;
    margin-right: 15%; /* Adiciona margem para afastar a seção do cabeçalho e da seção "Sobre" */
    width: 35%;/* Defina a largura desejada */
    display: inline-block;
    vertical-align: top; /* Alinha ao topo da linha */
    box-shadow: 5px 5px 3px;
    position: static;  
    top: 0px ;  
}

/* Remova a margem superior do cabeçalho do "Serviço" */
#servico h2 {
    margin-top: 0;
}

/* Estilos da seção "Cadastro" */
#cadastro {
    background-color: #007bff;    
    padding: 0px;
    border-radius: 50px;
    text-align: center;
    margin-right: 15%; /* Adiciona margem para afastar a seção do cabeçalho e da seção "Sobre" */
    margin: 20px;
    width: 35%;/* Defina a largura desejada */
    display: inline-block;
    vertical-align: top; /* Alinha ao topo da linha */
    box-shadow: 5px 5px 3px;
    position: static;  
    top: 0px ;  
}

/* Remova a margem superior do cabeçalho do "Serviço" */
#cadastro h2 {
    margin-top: 0;
}

/* Estilos da seção "Serviço" */
#contato {
    background-color: #007bff;    
    padding: 0px;
    border-radius: 40px;
    text-align: center;
    margin-right: 15%; /* Adiciona margem para afastar a seção do cabeçalho e da seção "Sobre" */
    width: 35%;/* Defina a largura desejada */
    display: inline-block;
    vertical-align: top; /* Alinha ao topo da linha */
    box-shadow: 5px 5px 3px;
    position: static;  
    top: 0px ;  
    margin: 20px;
}

/* Remova a margem superior do cabeçalho do "Serviço" */
#servico h2 {
    margin-top: 0;
}


/* Estilos para o rodapé */
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #007BFF;
    border-radius: 30px;
    box-shadow: 5px 5px 3px;
    align-items: flex-start; /* Alinha os conteúdos ao topo verticalmente */
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha à esquerda dentro da coluna esquerda */
}

.right-column {
    text-align: right; /* Alinha o conteúdo à direita */
}

/* Estilos para a lista não ordenada */
ul {
    list-style: none;
    padding: 0;
}

/* Estilos para os links nas redes sociais */
ul li a {
    text-decoration: none;
    color: #fff; /* Cor do texto branco */
    margin-right: 10px;
    margin-left: 600px;
}

ul li a img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

footer img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .contato {
    text-align: left;
    margin-left: 200px; /* Ajuste a margem conforme necessário */
}

footer .social-media {
    text-align: right;
    margin-right: 100px; /* Ajuste a margem conforme necessário */
}
